.contact-wrapper {
    .contact-image {
        img {
            @include imgw;
        }
    }

    .contact-content {
        padding: 50px;
        background-color: $white;
        margin-left: -70px;

        @include breakpoint (max-md){
            padding: 50px 40px;
        }

        @include breakpoint (max-sm){
            padding: 40px 30px;
        }

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .form-clt {
            input,textarea {
                line-height: 1;
                border: 1.5px solid $border-color;
                padding: 17px 20px;
                color: $text-color;
                outline: none;
                width: 100%;
                border-radius: 5px;
            }

            textarea {
                padding: 17px 20px 125px;
            }
        }
    }

    &.style-padding-minus {
        @include breakpoint (max-xl){
            margin-bottom: -50px;
        }
    }
}

.contact-section-2  {
    position: relative;
    z-index: 9;

    .contact-image-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            position: static;
            margin-bottom: 50px;
        }

        img {
            @include imgw;
        }
    }
}

.contact-wrapper-2 {

    .contact-content {
        .form-clt {
            input,textarea {
                line-height: 1;
                border: 1.5px solid $border-color;
                padding: 17px 20px;
                color: $text-color;
                outline: none;
                width: 100%;
                border-radius: 5px;
                background-color: $white;
            }

            textarea {
                padding: 17px 20px 125px;
            }
        }
    }
}

.contact-section-3 {
    position: relative;
    margin-top: 87px;

    @include breakpoint (max-xl){
        margin-top: 0;
    }

    .contact-image {
        position: absolute;
        top: -85px;
        bottom: 0;
        right: 0;
        max-width: 940px;

        @include breakpoint (max-xxl){
          max-width: 610px;
        }

        @include breakpoint (max-xl){
            top: 0;
            position: static;
            margin-bottom: 40px;
            max-width: 1100px;
         }

        img {
            @include imgw;
            object-fit: cover;
        }
    }
}


.single-contact-card {
    background-color: #f8f8f8;
    padding: 40px;
    transition: all .3s ease-in-out;

    @media (max-width: 585px) {
        padding: 30px;
    }

    &:hover {
        background-color: $header-color;

        .icon {
            color: #fff !important;
            background-color: $theme-color !important;
        }

        .bottom-part {
            .icon {
                color: $theme-color !important;
                background-color: #fff !important;
            }
        }

        p,
        span, h4 {
            color: #fff;
        }
    }

    .top-part {
        overflow: hidden;

        .icon {
            width: 70px;
            height: 70px;
            font-size: 20px;
            line-height: 70px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            float: left;
            color: $header-color;
            overflow: hidden;
            margin-right: 20px;
        }

        .title {
            overflow: hidden;
        }
    }

    .bottom-part {
        margin-top: 25px;
        overflow: hidden;

        .icon {
            width: 50px;
            height: 50px;
            font-size: 14px;
            line-height: 50px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            float: right;
            overflow: hidden;
            margin-left: 20px;
        }

        .info {
            display: inline-block;
            overflow: hidden;
        }
    }
}

.office-google-map-wrapper {
    margin-top: 50px;

    iframe {
        height: 550px;
        width: 100%;
    }
}

.main-contact-form-items {
    background-color: $bg-color;
    padding: 70px;

    @include breakpoint (max-md){
        padding: 60px 40px;
    }

    @include breakpoint (max-sm){
        padding: 50px 30px;
    }

    .title {
        margin-bottom: 40px;

        h2 {
            font-size: 36px;
            margin-bottom: 5px;
        }
    }

    .form-clt {
        input,textarea {
            padding: 18px 30px;
            border: none;
            outline: none;
            background-color: $white;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            color: $text-color;

            @include breakpoint (max-sm){
               padding: 12px 20px;
            }
        }

        textarea {
            padding: 18px 30px 140px;

            @include breakpoint (max-sm){
                padding: 12px 20px 90px;
            }
        }

        &::placeholder {
            color: $text-color;
        }
    }

    .theme-btn {
        border-radius: 0;
        background-color: $theme-color;
        font-weight: 500;
    }
}