.service-card-items {
    margin-top: 30px;

    .service-image {
        img {
            @include imgw;
        }
    }

    .service-content {
        padding: 30px;
        background-color: $white;
        margin-top: -30px;
        margin-left: 30px;
        position: relative;
        z-index: 9;

        h3 {
            margin-bottom: 10px;
            font-size: 20px;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        p {
            margin-bottom: 20px;
        }
    }
}

.service-box-items {
    margin-top: 30px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $white;

    .service-content {
        padding: 40px;

        h3 {
            margin-top: 20px;

            a {
                &:hover {
                    color: $theme-color-2;
                }
            }
        }

        ul {
            margin-top: 20px;

            li {
                position: relative;
                padding-left: 15px;
                color: $header-color;
                font-weight: 500;

                &:not(:last-child){
                    margin-bottom: 10px;
                }

                &::before {
                    position: absolute;
                    top: 13px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    content: "";
                    background-color: $theme-color-2;
                }
            }
        }

        .link-btn {
            text-transform: uppercase;
            margin-top: 25px;
            color: $theme-color;
           
            i {
                margin-right: 10px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                border-radius: 5px;
                background-color: $theme-color;
                color: $white;
                font-size: 14px;
                border-radius: 15px;
            }

            &:hover {
                color: $theme-color-2;
            }
        }
    }

    .service-image {
        position: relative;
        overflow: hidden;
        
        img {
            @include imgw;
            transition: 0.5s;
            background-size: cover;

            &:nth-child(1){
                perspective: 300px;
                transition: transform 500ms ease;
                transform-origin: top center;
                transform: translateX(0%) translateX(0px) scaleX(1) rotateY(0deg);
            }

            &:nth-child(2){
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
                transition: transform 700ms ease, top 700ms ease;
                transform: translateX(0%) translateX(150px) scaleX(0) rotateY(90deg);
                transform-origin: bottom center;
                width: 100%;
            }
        }
    }

    &:hover {
        .service-image {
            img {
                &:nth-child(1){
                    transform-origin: bottom center;
                    transform: translateX(-100%) translateX(150px) scaleX(0) rotateY(90deg);
                }
                
                &:nth-child(2){
                    transition: transform 500ms ease, top 500ms ease;
                    transform: translateX(0%) translateX(0px) scaleX(1) rotateY(0deg);
                }
            }
        }
    }
}

.service-section-2 {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background-color: $bg-color;
        z-index: -1;
        top: 38%;
    }
}

.service-card-items-2 {
    margin-top: 30px;

    .service-title {
        h5 {
            line-height: 1;

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        p {
            font-size: 17px;
            color: $header-color;
            margin-top: 5px;
            position: relative;
            margin-bottom: 40px;

            &::before {
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 50px;
                height: 3px;
                content: "";
                background-color: $theme-color;
            }
        }
    }

    .service-thumb {
         position: relative;
         overflow: hidden;

        img {
             @include transition;
        }

        &::after {
            background: linear-gradient(90deg, rgba(var(--white-rgb, 255, 255, 255), 0.13) 0px, rgba(var(--white-rgb, 255, 255, 255), 0.13) 77%, rgba(var(--white-rgb, 255, 255, 255), 0.3) 92%, rgba(var(--white-rgb, 255, 255, 255), 0));
            content: "";
            height: 200%;
            left: -210%;
            opacity: 0;
            position: absolute;
            top: -50%;
            transition: all 0.5s ease 0s;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            width: 200%;
        }

        .icon {
            position: absolute;
            left: 20px;
            bottom: 20px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: $theme-color-2;
            z-index: 9;
           
            img {
                width: initial;
                height: initial;
            }
        }
    }

    .service-text {
        border: 1px solid $border-color;
        background-color: $white;
        padding: 30px;

        p {
            font-size: 17px;
            color: $header-color;
            line-height: 165%;
        }
    }

    &:hover {
        .service-thumb {
            &::after {
                left: -30%;
                opacity: 1;
                top: -20%;
                transition-duration: 0.5s, 0.5s, 0.15s;
                transition-property: left, top, opacity;
                transition-timing-function: linear;
            }

            img {
                transform: scale(1.1) rotate(1.1deg);
            }
        }
    }
}

.service-details-wrapper {
    .service-details-content {
        h2 {
            font-size: 40px;
            margin-bottom: 20px;

            @include breakpoint (max-lg){
                font-size: 32px;
            }

            @include breakpoint (max-xl){
                font-size: 36px;
            }

            @include breakpoint (max-md){
                font-size: 28px;
            }

            @include breakpoint (max-sm){
                font-size: 24px;
            }
        }

        .details-thumb {
            img {
                @include imgw;
            }
        }

        .list {
            margin-top: 30px;
            margin-bottom: 40px;

            li {
                font-size: 16px;
                color: $header-color;
                font-weight: 600;

                &:not(:last-child){
                    margin-bottom: 10px;
                }

                i {
                    color: $theme-color;
                    margin-right: 5px;
                }
            }
        }

        .list-2 {
            margin-top: 10px;

            li {
                color: $header-color;

                i {
                    color: $theme-color;
                    margin-right: 10px;
                }

                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }

        .download-file {
            background-color: $bg-color;
            padding: 35px 30px;
            margin-top: 40px;
            @include flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include breakpoint(max-xxl){
                padding: 30px 25px;
                gap: 20px;
                justify-content: center;
                text-align: center;
            }

            .download-button {
                @include flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    .service-details-sidebar {
        .sidebar-widget {
            background-color: $bg-color;
            padding: 30px;
            margin-bottom: 30px;

            h3 {
                line-height: 1;
                margin-bottom: 30px;
            }

            ul {
                li {
                    padding: 18px 20px;
                    background-color: $bg-color;
                    font-family: $heading-font;
                    background-color: $white;
                    @include transition;

                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                   
                    a {
                        @include flex;
                        justify-content: space-between;
                    }

                    &:hover {
                        background-color: $theme-color;
                        
                        a {
                            color: $white;
                        }
                    }
                }
            }

            .contact-bg {
                padding: 50px 20px;
                position: relative;
                z-index: 9;

                &::before {
                    @include before;
                    z-index: -1;
                    background-color: $theme-color;
                    opacity: .9;
                }

                h5 {
                    margin-bottom: 10px;
                    color: $white;
                }

                h4 {
                    margin-bottom: 10px;
                    
                    a {
                        color: $white;
                    }
                }

                p {
                    color: $white;
                }
            }
        }
    }
}