.testimonial-card-items {
    margin-top: 30px;
    position: relative;
    z-index: 9;

    &::before {
       @include before;
       background-color: $white;
       border: 1px solid $border-color;
       border-radius: 5px;
       z-index: -1;
       top: 90px;
       height: initial;
    }

    .client-img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        position: relative;

        @include breakpoint (max-md){
            width: 140px;
            height: 140px;
        }

        .icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            font-size: 24px;
            background-color: $theme-color;
            color: $white;
            border: 1px solid $border-color;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    p {
        padding: 50px 50px 50px;
    }

    .client-info {
        text-align: center;
        background-color: $theme-color;
        padding: 22px 20px;

        span {
            color: $white;
            line-height: 1;
        }

        h3 {
            color: $white;
            margin-top: 10px;
        }
    }

    &.style-2 {
        text-align: center;

        .client-img {
            width: 150px;
            height: 150px;
        }

        h5 {
            margin-top: 30px;
        }

        .star {
            color: $theme-color-2;
            margin: 10px 0;
        }

        p {
            padding: 0 40px;
            color: $header-color;
            font-weight: 500;
            font-size: 17px;
        }

        .client-info {
            background-color: transparent;
            padding: 40px 20px;
    
            span {
                color: $text-color;
            }
    
            h3 {
                color: $header-color;
                margin: 0;
                font-size: 18px;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}

.testimonial-section {
    position: relative;

    .map-shape {
        position: absolute;
        top: 16%;
        left: 50%;
        transform: translateX(-50%);
    }

    .left-shape {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .right-shape {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.testimonial-box-items {
    padding: 50px 30px 0;
    margin-top: 30px;
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background-color: $white;
        z-index: -1;
        height: 75%;
    }

    .star {
        color: $theme-color-2;
        margin-bottom: 20px;
    }

    p {
        font-size: 17px;
        
    }

    .client-info-item {
        margin-top: 40px;

        .client-img {
            width: 60px;
            height: 60px;
            background-color: $bg-color;
            border-radius: 50%;
        }

        .content {
            margin-top: 20px;

            span {
                font-size: 17px;
                color: $theme-color;
                margin-top: 10px;
                display: inline-block;
                line-height: 1;
            }
        }
    }
}